<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css -->
  <link href="./stylesheets/style.css" rel="stylesheet">
  <!-- materializeCSS -->
  <!--Import Google Icon Font-->
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
​
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
​
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
​
  <title>Chef's Kiss - Recipes</title>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <div id="card"><a href="/public/images/ChefsKissLogo.png" class="brand-logo center"><img
            src="/images/ChefsKissLogo.png" alt="Chef's Kiss" id="logoImage"></a>
      </div>
      <ul class="left hide-on-med-and-down">
        <!-- <li><div id="logoImage"><a href="/public/members.html" class="brand-logo center"><img src="C:\Users\josep\Bootcamp\Project2\images\ChefsKissLogo.png" alt="Chef's Kiss"></a></div></li> -->
        <li><a href="https://twitter.com/TweetsChefs">Twitter</a></li>
        <li><a href="https://www.facebook.com/Chefs-Kiss-196604171909531">Facebook</a></li>
        <li><a href="https://www.instagram.com/chefskissblog/">Instagram</a></li>
​
      </ul>
    </div>
  </nav>


    {{{body}}}
    


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/recipes.js"></script>
  

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

</body>
</html>