
<div class="container">
    <div class="row">
      <div class="col">
        <h2>{{this.recipeName}}</h2>
      </div>
    </div>

  <div class="row">
      <div class="row">
          <div class="col-md-8">
              <h2>Ingredients</h2>
            <article>{{this.Ingredients}}</article>
          </div>
          <div class="col-md-4">
            <img id="image" src="/images/foodplaceholder.jpg">
              
          </div>
      </div>
  </div>

  <div class="row">
      <h2>Instructions</h2>
        <article>{{this.instructions}}</article>
  </div>
</div>
